<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <%= form_with url: contacts_path, method: :get, class: "d-flex my-3" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a contact"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>



      <table>
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Company</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Web</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.firstname %></td>
              <td><%= contact.lastname %></td>
              <td><%= contact.company %></td>
              <td><%= contact.state %></td>
              <td><%= contact.zip %></td>
              <td><%= contact.phone %></td>
              <td><%= contact.email %></td>
              <td><%= contact.web %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
    </div>
  </div>

  <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var hitTemplate = '<div class="hit-instant-search">' +
      '<div class="company">{{{_highlightResult.company.value}}}</div>' +
      '<div class="name">{{{_highlightResult.name.value}}}</div>' +
      '<div class="created_at">{{{created_at}}}</div>' +
      '<div class="email"><a href="mailto:{{{_highlightResult.email.value}}}">{{{_highlightResult.email.value}}}</a></div>' +
    '</div>';

    var search = instantsearch({
      appId: '<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>',
      apiKey: '<%= ENV['ALGOLIASEARCH_API_KEY_SEARCH'] %>',
      indexName: '<%= Contact.index_name %>',
      urlSync: true
    });

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#q',
        placeholder: 'Search for contacts',
        autofocus: false,
        poweredBy: true
      })
    );

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#hits',
        templates: {
          empty: 'No results',
          item: hitTemplate
        },
        hitsPerPage: 10
      })
    );

    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#companies',
        attributeName: 'company',
        limit: 10,
        templates: {
          header: 'Companies'
        },
        cssClasses: {
          root: 'list-group',
          item: 'list-group-item',
          count: 'badge pull-right'
        }
      })
    );

    search.start();
  });
</script>
</div>
